.Gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .Gallery {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.Gallery--Item {
  max-width: 49%;
  flex: 48%;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .Gallery--Item {
    width: 100%;
    max-width: 30rem;
    margin-bottom: 10px;
  }
}

.Gallery--Item img {
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
}

.Gallery--Item figcaption {
  text-align: center;
  padding: 1rem 0;
}
