.Gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .Gallery {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.Gallery--Item {
  cursor: pointer;
  margin: 10px;
  flex-grow: 1;
}

@media screen and (max-width: 750px) {
  .Gallery--Item {
    width: 100%;
    max-width: 30rem;
    margin-bottom: 10px;
  }
}

.Gallery--Item img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 335px;
}

.Gallery--Item figcaption {
  text-align: center;
  padding: 1rem 0;
}
